@import "tailwindcss";

.scrollbar-none::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

.scrollbar-none {
  -ms-overflow-style: none;
  /* IE, Edge */
  scrollbar-width: none;
  /* Firefox */
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  /* khớp UI, có thể bỏ */
}

/* global.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Ẩn hoàn toàn nền mặc định của AntD Modal */
.rating-modal-wrapper .ant-modal-content {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

/* Ẩn luôn body wrapper trắng */
.rating-modal-wrapper .ant-modal-body {
  background: transparent !important;
  padding: 0 !important;
}