@import "tailwindcss";

.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}